.targets { display: none; }

.targets .cell1 { grid-area: header; }
.targets .cell2 { grid-area: left; min-height: 400px;}
.targets .cell3 { grid-area: main; min-height: 400px;}

.targets .grid-container {
    display: grid;
    grid-template-areas:
      'header header header'
      'left main main';
    grid-gap: 10px;
    background-color: goldenrod;
    padding: 10px;
}

.targets .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
